body{
  background:#2d2d2d;
}

button{
 margin-top: 50px; 
 height: 50px;
 width: 250px;
}

.contents{
  margin-top: 50px;
  padding: 20px 10px;
}




@media only screen and (max-width: 1000px) {
   
img{
  width: 100%;
  max-width: 1280px !important;
}
    button{
 margin-top: 50px; 
 width: 65%;
 height: 200px;
 font-size: 4em !important;
 color: white !important;
}
  
}